@model WebApplication1.Models.Student
<html>
<head>
    <title>

    </title>
</head>
<body>
    </br>
    </br>
    <table>
        <tr>
            <td> Student Id : </td>
            <td>@Model.StudentId</td>
        </tr>
        <tr>
            <td> Student Name : </td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td> Student Gender : </td>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <td> Student Branch : </td>
            <td>@Model.Branch</td>
        </tr>
        <tr>
            <td> Student Section : </td>
            <td>@Model.Section</td>
        </tr>
    </table>
</body>
</html>